{
  "extends": [
    "airbnb",
    "react-app",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "window": false,
    "APP_CONFIG": false,
    "it": false
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/jsx-fragments": ["error", "element"],
    "react/require-default-props": ["off"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-filename-extension": [
      "off",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "controlComponents": ["Input", "InputForm", "InputMask", "Select"]
    }]
  }
}
