{
  "extends": [
    "airbnb",
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "window": false,
    "APP_CONFIG": false,
    "it": false
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "prettier/prettier": ["error", { "singleQuote": true }],
    "no-nested-ternary": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-fragments": ["error", "element"],
    "react/require-default-props": ["off"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-filename-extension": [
      "off",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "controlComponents": ["Input", "InputForm", "SelectForm", "DatePickerForm", "InputMask", "Select"]
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
