.performance {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;

  .title {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .genres {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.change-section {
  margin-top: 10px;
}

.selected-item {
  font-size: 22px;
  font-weight: 500;
}

.session {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  font-size: 14px;

  p {
    margin-bottom: 5px;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load {
  padding: 20px 0;

  &:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #888;
    border-right-color: transparent;
    animation: loading 0.5s linear infinite;
  }
}
